%h4 Administration

%table.table.table-hover.table-striped
  %tr
    %th.text-center Order
    %th Client
    %th Borrowed books
    %th State
    %th Actions
  - orders.each do |order|
    %tr
      %td.text-center= order.id
      %td= order.user.email
      %td
        - order.cart.books.each do |book|
          #{book.author} - #{book.title}
          %br
      %td
        - if order.state
          .btn.btn-xs.btn-info= order.state
        - else
          .btn.btn-xs.btn-warning= 'No status'

      %td= order.librarian_action(order)
