.panel.panel-material-light-green
  .panel-heading
    %h3.panel-title
      - if user_signed_in?
        Your shelf (
        = current_user.cart.books.size
        )
      - else
        Your shelf
  .panel-body
    - if user_signed_in?
      .list-group.js-book-row
        - current_user.cart.books.each do |book|
          .list-group-item
            .row-picture
              = image_tag book.cover, class: 'circle'
            .row-content
              %h4.list-group-item-heading= book.title
              = link_to 'X', remove_book_cart_path(book), class: 'js-remove-book', method: :post
          .list-group-separator
    - else
      .text-center
        .alert.alert-info.no-bottom-margin Login if you want to add books to your shelf.
  .panel-footer
    .sidebar__cart__buttons
      - if user_signed_in?
        = link_to 'Order now',
          orders_path(id: current_user.cart.id),
          class: "#{current_user.cart.books.size > 0 ? '' : 'disabled'} btn btn-material-light-blue",
          method: :post
      - else
        = link_to 'Log in', new_user_session_path, class: 'btn btn-small btn-default btn-flat'
        = link_to 'Sign up', new_user_registration_path, class: 'btn btn-small btn-default btn-flat'
