%p#notice= notice
%h1 Orders History
%table.table.table-striped.table-hover
  %thead
    %tr
      %th.text-center Order
      %th Books
      %th
  %tbody
    - @orders.each_with_index do |order, i|
      %tr
        %td.vertical-align.text-center= i
        %td.vertical-align
          - order.cart.books.each do |book|
            #{book.author} - #{book.title}
            %br
        %td.text-right.vertical-align
          = link_to 'Show', order, class: 'btn btn-success btn-sm'
          = link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' },
          class: 'btn btn-danger btn-sm'
%br/
