%p#notice= notice
%h1 Listing Orders
%table
  %thead
    %tr
      %th Cart
      %th User
      %th State
      %th{:colspan => "3"}
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.cart
        %td= order.user
        %td= order.state
        %td= link_to 'Show', order
        %td= link_to 'Edit', edit_order_path(order)
        %td= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Order', new_order_path
