%p#notice= notice
%h1 Orders History
%table.table.table-striped.table-hover
  %thead
    %tr
      %th.text-center Order
      %th Books
      %th Status
      %th
  %tbody
    - @orders.each_with_index do |order, i|
      %tr
        %td.text-center= i
        %td
          - order.cart.books.each do |book|
            #{book.author} - #{book.title}
            %br
        %td
          - if order.state
            .btn.btn-xs.btn-info= order.state
          - else
            .btn.btn-xs.btn-warning= 'No status'
        %td.text-right
          = link_to 'Show', order, class: 'btn btn-success btn-xs'
          = link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' },
          class: 'btn btn-danger btn-xs'
%br/
