%h1 Order ID: #{@order.id}
%table.table.table-hover.table-striped
  %thead
    %tr
      %th Author
      %th Book title
      %th Publishing house
  %tbody
    - @order.cart.books.each do |book|
      %tr
        %td= book.title
        %td= book.author
        %td= book.publishing_house

.text-center
  = link_to 'Edit', edit_order_path(@order), class: 'btn btn-success'
  = link_to 'Back', orders_path, class: 'btn btn-material-grey'
